* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15% 0;
    background-color: #fff;
}

.them {
    background-color: #000;
}

.btn {
    padding: 15px;
    background-color: rgb(21, 143, 243);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(3, 119, 214);
}